.body_bg_img {
  /* Location of the image */
  /*background-image: url(images/background-photo.jpg);*/
  background: url("/assets/background-photo.jpg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}


/*.body_bg_img{
        background: url("/assets/login_bg_image.jpg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}*/


/*.sign-in-box {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.698);
    border-radius: 1em;
    color: #FFFFFF;
    left: 50%;
    margin: 100px;
    padding: 27px 0 0 49px;
    /*text-align: center;*/
    /*top: 50%;*/
/*}*/



.signin_container {
    background: none repeat scroll 0 0 #444444;
    margin: 60px auto 0;
    width: 380px;
}


.login_heading {
    background: url("/assets/signin-heading.png") no-repeat scroll 10px 10px #E7E7E7;
    border: 1px solid #BBBBBB;
    font-size: 25px;
    padding: 15px;
    text-indent: 45px;
}


a.login_facebook {
    background: url("/assets/Login-with-facebook.png") no-repeat scroll 8px 10px rgba(0, 0, 0, 0);
    display: block;
    height: 60px;
    margin-bottom: 20px;
    text-indent: -9999px;
    width: 345px;
}

.or_image{
      margin-bottom: 10px;
     }

     .form_container {
    color: #FFFFFF;
    padding: 15px;
    width: 355px;
}


.remember_margin {
    margin: -14px 0 6px;
}

.remember_me {
    display: inline-block;
    width: 150px;
}


.control-group {
    margin-bottom: 10px;
}



/*.signin_container{
  background: #444;
  width: 380px;
  margin: 0 auto;
  margin-top: 60px;
  .login_heading{
    padding: @pad;
    border: 1px solid #bbb;
    font-size: 25px;
    text-indent: 45px;
    background: #e7e7e7 url("/assets/signin-heading.png") no-repeat 10px 10px;
  }
  
}/* signin_container */

/*.custom_text_filed{
      border: 1px solid #C9D0D6;
    border-radius: 3px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 17px;
    margin-left: -8px;
    outline: medium none;
    padding: 8px 10px 7px;
    width: 88%;
}*/


/*.sign-in-box {
   /*background: black;*/
        /*color: white;*/
        /*border-radius: 1em;*/
        /*padding: 1em;*/
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
         /*margin: 100px;*/
         /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.698);*/
        /*margin-right: -50%;*/
        /*transform: translate(-50%, -50%);*/
  /* position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;  this is half the height of your div  
  margin-left:-100px; /*this is half of width of your div*/
/*}*/


p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 17px;
}

a {
    color: #2BA6CB;
    line-height: inherit;
    font-size: 14px;
    text-decoration: none      !important;
}

a:hover { text-decoration: underline    !important;	 }

label {
    color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0.1875em;
}


.top-bar-section ul li > a {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 0 12px 15px;
    width: 100%;
}

form input[type=text], form input[type=password], form input[type=email], form input[type=number], form input[type=url], form input[type=tel], form textarea {
  width: 65%;
  border: 1px solid #c9d0d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  outline: none;
  padding: 8px 10px 7px;
}

.remember_me_label{
	 color: #4D4D4D;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.1875em;
}



form input[type=submit] {
  /*-webkit-border-radius: 200px;*/
  /*-moz-border-radius: 200px;*/
  /*border-radius: 200px;*/
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  font-family: inherit;
  line-height: normal;
  margin: 0 0 1.25em;
  padding: 0.75em 1.5em 0.8125em;
  text-decoration: none;
  /*-webkit-font-smoothing: antialiased;*/
  /*background: -webkit-linear-gradient(-90deg, #2ba6cb, #414549);*/
  /*background: -moz-linear-gradient(-90deg, #2ba6cb, #2ba6cb);*/
  /*background: linear, -90deg, #2ba6cb, #414549;*/
  background: #2ba6cb;
  /*background: #309eeb;*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');*/
  /*text-shadow: black 0 1px 0;*/
  text-align: center;
  text-decoration: none;  
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;*/
  border-color: #2284A1;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  cursor: pointer;
}


.article_search_field{
  width: 75%;
}


form input[type=submit]:not(.disabled):hover {
  background: #2284a1;
  /*background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;*/
 /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');*/
}


a.button, a:link.button, a:visited.button, input[type=submit] {
  /*-webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;*/
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  font-family: inherit;
  line-height: normal;
  margin: 0 0 1.25em;
  padding: 0.75em 1.5em 0.8125em;
  text-decoration: none;
  /*-webkit-font-smoothing: antialiased;*/
  background: #2ba6cb;
  /*background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');*/
  /*text-shadow: black 0 1px 0;*/
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;*/
  text-align: center;
  text-decoration: none; 
  border-color: #2284A1;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  cursor: pointer;
}


a.button:not(.disabled):hover, a:link.button:not(.disabled):hover, a:visited.button:not(.disabled):hover, input[type=submit]:not(.disabled):hover {
  background: #2284a1;
 /* background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');*/
}

form.custom .custom.dropdown .current {
  cursor: default;
  white-space: nowrap;
  line-height: 2.25em;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
  overflow: hidden;
  display: block;
  margin-left: 0.5em;
  margin-right: 2.3125em;
}


form #new_user div .form_container .input_styling {
    background: url("/assets/username.png") no-repeat scroll 6px 10px #FFFFFF;
    border-radius: 0;
    height: 30px;
    text-indent: 30px;
    width: 332px;
}



/* line 121, ../../../../.rvm/gems/ruby-1.9.3-p194@star-rating/gems/zurb-foundation-4.3.2/scss/foundation/components/_buttons.scss */
/*button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2284a1;
}*/
/* line 132, ../../../../.rvm/gems/ruby-1.9.3-p194@star-rating/gems/zurb-foundation-4.3.2/scss/foundation/components/_buttons.scss */
/*button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}*/

/*form input[type=submit]:not(.disabled):hover {
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
}*/

/* Default class for button in active-admin */

/*form input[type=submit] {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
  cursor: pointer;
}*/


/* Default class for button in zurb-foundation */

/*form input[type=submit] {
	background-color: #2ba6cb;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25em;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
}*/

/*.custom_button {
    
}*/



/*button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: normal;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}*/


/*.button {
    background-color: #2BA6CB 		!important;
    border-color: #2284A1;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: normal;
    margin: 0 0 1.25em;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
}*/